* {
  font-family: "Oswald", serif;
  color: white;
}

body {
  background-color: black;
}

header {
  text-align: center;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  color: white;
}

.header-container {
  text-align: center;
  position: relative;
}

.menu { /*positioning: https://www.w3schools.com/css/css_align.asp*/
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  transform: translateX(-50%);  /*https://developer.mozilla.org/en-US/docs/Web/CSS/transform*/
  gap: 20px;                   /* https://www.w3schools.com/cssref/css3_pr_gap.php*/
}

.menu li {
  margin: 0 50px;
}

.menu a {
  text-decoration: none;
  font-size: 30px;
}

.line {
  width: auto;
  height: auto;
  display: block;
  margin: 20px auto 0;
  position: relative;
  top: 30px;
}

h1,
h3 {
  color: white;
}

#contact_h3 {
  font-size: 40px;
}
.contact_li {
  font-size: 20px;
}

.content {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact_box, .message_box {
  flex: 1;
  max-width: 30%;
}