* {
  font-family: "Oswald", serif;
  color: white;
}

body {
  background-color: black;
}

header {
  text-align: center;
  position: relative;
}

ul,
li {
  list-style: none;
}

a {
  color: white;
}

.header-container {
  text-align: center;
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  transform: translateX(-50%);
  gap: 20px;
}

.menu li {
  margin: 0 50px;
}

.menu a {
  text-decoration: none;
  font-size: 30px;
}

.line {
  width: auto;
  height: auto;
  display: block;
  margin: 20px auto 0;
  position: relative;
  top: 30px;
}

.portfolio_image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.portfolio_img {
  max-width: 50%;
  height: auto;
  margin-top: 100px;
}

.me_image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.placeholder {
  max-width: 50%;
  height: auto;
  margin-top: 100px;
  transform: translate(-30%, 0%);
  top: 30px;
}

.education_box,
.skills_box,
.languages_box {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.education_container,
.languages_container {
  position: relative;
  top: 80px;
  left: 60%;
  width: 25%;
  padding: 0px;
}

.skills_container {
  position: relative;
  top: 80px;
  left: 20%;
  width: 25%;
  padding: 20px;
}

.h1_box {
  padding: none;
  margin: none;
  font-size: 40px;
}

.h3_box {
  top: 0px;
  padding: none;
  margin: none;
  font-size: 100 px;
}

.li_box {
  font-size: 20px;
}

#name {
  font-size: 80px;
}
/*
.softwares_container {
  top: 200px;
  text-align: center;
  position: relative;
}

#softwares {
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  display: flex;
  transform: translateX(-50%);
}

#software_line {
  top: 60px;
  width: auto;
  height: auto;
  display: block;
  margin: 20px auto 0;
  position: relative;
}
  */

/* FOOTER */

p {
  margin-top: 3 rem;
  border-top: 1px solid white;
}
